# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.quasar
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

org-note-release.keystore

src-cordova/www
.env*
local/*
build-local.sh

org-note-release-signed.aab
/quasar.config.*.temporary.compiled*

/src-capacitor/www/*