.cm-content {
  --fold-trigger-offset: 1.75em;
  padding-left: var(--fold-trigger-offset) !important;
}

.headline-fold-trigger-wrap {
  position: relative;
  display: inline;
  width: 0;
  overflow: visible;
}

.headline-fold-trigger-wrap .headline-fold-trigger {
  position: absolute;
  left: calc(-1 * var(--fold-trigger-offset));
  top: 0;
  transform: translateY(-15%);
  width: 1.25em;
  height: 1.25em;
}

.cm-line:hover .headline-fold-trigger-wrap .headline-fold-trigger {
  opacity: 1;
}
