@use 'sass:meta';
@import '../../node_modules/katex/dist/katex.min.css';
@import 'variables';
@import 'colors';
@import 'buttons';
@import 'reset';
@import 'editor';
@import 'typography';
@import 'notifications';
@import 'size';
@import 'mixins';
@import 'org-nodes';
@import 'scroll';
@import 'flex';
@import 'checkbox';
@import 'quasar-override';
@import 'tooltip';
@import 'pages';
@import 'hljs';
@import 'list';

.pointer {
  cursor: pointer;
}

@include light-mode {
  .hljs {
    background: var(--base7);
  }
}

@include dark-mode {
  background: rgb(34, 39, 46);
  .hljs {
    background: var(--base7);
  }
}

.rft {
  font-family: var(--description-font-family);
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  font-size: var(--description-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--headline-font-family);
  font-weight: var(--headline-font-weight);
}

.headline,
.editor-headline {
  margin: var(--headline-margin);
  display: inline-block;
}

.note-content {
  font-size: var(--paragraph-font-size);
  font-family: var(--paragraph-font-family);
}

p {
  font-size: var(--paragraph-font-size);
  font-family: var(--ul-font-family);
}

.link {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.bg-main {
  background: var(--bg);
}

.bg-alt {
  background: var(--bg-alt);
}

@include electron {
  .top-offset {
    padding-top: 32px;
  }
}
