@import 'colors';

.flat-btn {
  width: var(--flat-btn-size);
  height: var(--flat-btn-size);
  min-height: 0 !important;
  box-shadow: var(--flat-btn-box-shadow);
  border: var(--flat-btn-border);
  border-radius: var(--flat-btn-border-radius);

  &::before {
    box-shadow: none;
  }
}

.q-tabs {
  .q-btn {
    height: 100%;
    border-radius: 0;
  }
}
