@import 'quasar/src/css/variables.sass';

:root {
  --default-red: #f65866;
  --default-orange: #dd9046;
  --default-green: #8bcd5b;
  --default-teal: #4db5bd;
  --default-yellow: #ecbe7b;
  --default-blue: #41a7fc;
  --default-dark-blue: #1c4a6e;
  --default-magenta: #ca9ee6;
  --default-violet: #9356e8;
  --default-cyan: #34bfd0;
  --default-dark-cyan: #5699af;
  --default-white: #f8f9fc;
}

:root {
  // Colors
  --red: var(--default-red);
  --orange: var(--default-orange);
  --green: var(--default-green);
  --teal: var(--default-teal);
  --yellow: var(--default-yellow);
  --blue: var(--default-blue);
  --dark-blue: dark-var(--default-blue);
  --magenta: var(--default-magenta);
  --violet: var(--default-violet);
  --cyan: var(--default-cyan);
  --dark-cyan: dark-var(--default-cyan);
  --white: var(--default-white);
}

@include dark-mode {
  --default-bg: #22272e;
  --default-bg-alt: var(--q-dark);
  --default-bg-alt2: var(--q-dark);
  --default-bg-active: rgba(99, 110, 123, 0.4);
  --default-fg: #adbac7;
  --default-fg-alt: #{$grey-6};
}

@include light-mode {
  --default-bg: #ffffff;
  --default-bg-alt: #ffffff;
  --default-bg-alt2: #f8f8f7;
  --default-bg-active: rgba(175, 184, 193, 0.2);
  --default-fg: #34495e;
  --default-fg-alt: #{$grey-5};
}

body {
  // Colors
  --bg: var(--default-bg);
  --bg-alt: var(--default-bg-alt);
  --bg-alt2: var(--default-bg-alt2);
  --bg-active: var(--default-bg-active);
  --fg: var(--default-fg);
  --fg-alt: var(--default-fg-alt);
  --accent: var(--violet);
}
