@import 'mixins';

:root {
  --red: #f65866;
  --orange: #dd9046;
  --green: #8bcd5b;
  --teal: #4db5bd;
  --yellow: #ecbe7b;
  --blue: #41a7fc;
  --dark-blue: #1c4a6e;
  --magenta: #ca9ee6;
  --violet: #c75ae8;
  --cyan: #34bfd0;
  --dark-cyan: #5699af;
  --white: #f8f9fc;
}

@include dark-mode {
  --bg: #22272e;
  --bg-alt: var(--q-dark);
  --bg-alt2: var(--q-dark);
  --fg: #{$grey-3};
  --fg-alt: #{$grey-6};

  --base0: #{$grey-3};
  --base1: #{$grey-10};
  --base2: #1d1d1d;
  --base3: #22272e;
  --base4: #{$grey-9};
  --base5: #{$grey-6};
  --base6: #{$grey-1};
  --base7: rgba(99, 110, 123, 0.4);
  --base8: var(--blue);
}

@include light-mode {
  --bg: #fff;
  --bg-alt: #fff;
  --bg-alt2: #f8f9fc;
  --fg: #34495e;
  --fg-alt: #{$grey-5};

  --base0: #{$grey-9};
  --base1: #{$grey-1};
  --base2: #{$blue-grey-4};
  --base3: #22272e;
  --base4: #{$grey-9};
  --base5: #{$grey-6};
  --base6: #{$grey-1};
  --base7: rgba(175, 184, 193, 0.2);
  --base8: var(--blue);
}
