.editor-input {
  all: unset;
  width: 100%;
  padding-top: 2px;
}

.ce-paragraph {
  font-size: var(--paragraph-font-size);
  font-family: var(--paragraph-font-family);
}

// TODO: how to align toolbar?
// .ce-toolbar__actions--opened {
//   transform: translateY(50%);
// }
