:root {
  // Fonts
  --editor-font-family: var(--main-font-family);
}

.editor-input {
  all: unset;
  width: 100%;
  padding-top: 2px;
}

.ce-paragraph {
  font-size: var(--paragraph-font-size);
  font-family: var(--paragraph-font-family);
}

// Qull
.invisible-symbol {
  font-size: 0;
}
