@mixin flexify($direction: row, $justify: space-between, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin dark-mode {
  body.body--dark {
    @content;
  }
}

@mixin light-mode {
  body.body--light {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 600px) and (max-width: 1023px) {
    @content;
  }
}
