.page {
  overflow: auto;
  height: 100%;

  @include desktop {
    padding: var(--block-padding-md);
  }

  @include mobile {
    padding-bottom: cacl(var(--footer-height) + 20px);
  }
}

.page-container {
  max-width: var(--content-max-width);
  margin: auto;
  height: 100svh;
}

.center-container {
  max-width: var(--content-max-width);
  margin: auto;
}
