.page {
  overflow: auto;
  height: 100%;
  max-width: var(--page-max-width);
  margin: auto;

  @include desktop {
    padding: var(--block-padding-md);
  }

  @include mobile-footer-padding();
}

// TODO: remove
.page-container {
  max-width: var(--content-max-width);
  margin: auto;
  height: 100svh;
}

// TODO: remove
.center-container {
  max-width: var(--content-max-width);
  margin: auto;
}
