html,
body,
dialog {
  overscroll-behavior: none;
  overflow: hidden;
  touch-action: none;
  // max-height: calc(var(--vh, 1vh) * 100);
}

html,
body {
  margin: 0;
  padding: 0;
  height: var(--screen-height);
  box-sizing: border-box;
  background: var(--bg);
}

dialog {
  background: var(--bg);
}

#q-app {
  height: 100%;
}

.q-menu {
  border-radius: var(--card-radius);
  box-shadow: unset;
}
