html,
body,
dialog {
  overscroll-behavior: none;
  overflow: hidden;
  padding: 0;
  touch-action: none;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
