body {
  background-color: var(--bg) !important;
}

.q-drawer {
  background-color: var(--bg-alt);
}

.q-card {
  background: var(--card-background-color);
}

.q-menu {
  box-shadow: var(--shadow-main);
  border: var(--border-main);
}
