body {
  background-color: var(--bg) !important;

  &.mobile.action-pane-opened {
    background-color: var(--bg-alt) !important;
  }
}

body.standalone.action-pane-opened {
  background-color: var(--bg-alt) !important;
}

.q-page-container {
  background-color: var(--bg);
}

.q-drawer {
  background-color: var(--bg-alt);
}

.q-card {
  background: var(--card-background-color);
}

.q-menu {
  box-shadow: var(--shadow-main);
  border: var(--border-main);
  z-index: 999999;
}

.q-item.q-router-link--active,
.q-item--active {
  color: var(--base8);
}

.q-page {
  height: calc(var(--viewport-height) - var(--footer-height));
  max-height: calc(var(--viewport-height) - var(--footer-height));
  overflow-y: auto;
  padding: var(--page-padding);
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-32 {
  gap: 32px;
}

.gap-16 {
  gap: 16px;
}

.text-red {
  color: var(--red) !important;
}

.text-primary {
  color: var(--blue) !important;
}
.q-field--standout.q-field--dark.q-field--highlighted .q-field__native {
  color: white;
}

.q-list {
  .q-item {
    padding: var(--menu-padding);
  }
}
.q-dialog__inner.no-pointer-events {
  pointer-events: all !important;
}

.q-icon {
  color: var(--fg);
}
