body {
  background-color: var(--bg-alt) !important;
}

.q-page-container {
  background-color: var(--bg);
}

.q-drawer {
  background-color: var(--bg-alt);
}

.q-card {
  background: var(--card-background-color);
}

.q-menu {
  box-shadow: var(--shadow-main);
  border: var(--border-main);
  z-index: 999999;
}

.q-item.q-router-link--active,
.q-item--active {
  color: var(--cyan);
}

.q-page {
  height: calc(var(--viewport-height) - var(--footer-height));
  max-height: calc(var(--viewport-height) - var(--footer-height));
  overflow-y: auto;
  padding: var(--page-padding);
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-32 {
  gap: 32px;
}

.text-red {
  color: var(--red) !important;
}

.text-primary {
  color: var(--blue) !important;
}
