@font-face {
  font-family: 'Jetbrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff')
      format('woff');
}

@font-face {
  font-family: 'Menlo';
  src: url('./fonts/Menlo-Regular.ttf') format('truetype');
}

body {
  // Fonts
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 22px;
  --headline-margin: 18px 0;
  --paragraph-font-size: var(--font-size-md);

  --main-font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif;
  --editor-font-family-main: 'Menlo', charter, Georgia, Cambria, 'Roboto', Times,
    serif;
  --paragraph-font-family: var(--main-font-family);
  --headline-font-family: 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  --code-font-family: monospace, monospace;

  // Note description
  --description-font-family: var(--main-font-family);
  --description-font-size: 16px;
  --description-font-style: italic;
  --description-font-color: var(--base-5);
  --description-padding: 18px 0px;

  // Code
  --code-font-size: 14px;
}

.color-main {
  color: var(--fg);
}

.color-secondary {
  color: var(--fg-alt);
}

.color-red {
  color: var(--red);
}

.color-green {
  color: var(--green);
}

.color-blue {
  color: var(--blue);
}

.color-yellow {
  color: var(--yellow);
}

.color-magenta {
  color: var(--magenta);
}

.color-cyan {
  color: var(--cyan);
}

.color-violet {
  color: var(--violet);
}

.color-dark-blue {
  color: var(--dark-blue);
}

.color-teal {
  color: var(--teal);
}

.color-orange {
  color: var(--orange);
}

.color-reverse {
  color: var(--bg);
}

.color-action {
  color: var(--font-color-action);
}

.color-base8 {
  color: var(--base8);
}

.color-base7 {
  color: var(--base7);
}

.color-danger {
  color: var(--red);
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

// NOTE: https://codepen.io/caseycallow/pen/yMNqPY
.color-magic {
  color: var(--orange);
  background-image: -webkit-linear-gradient(
    92deg,
    var(--orange),
    var(--yellow)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

.capitalize::first-letter {
  text-transform: capitalize;
}

.text {
  font-size: var(--paragraph-font-size);
}

h6,
h7,
h8,
h9,
h10,
h11,
h12 {
  font-size: var(--paragraph-font-size);
  line-height: 1.5rem;
}

.line-limit-1 {
  @include line-limit(1);
}

.line-limit-2 {
  @include line-limit(2);
}

.font-main {
  font-family: var(--main-font-family);
  color: var(--fg);
}
p {
  font-family: var(--main-font-family);
}

.link {
  color: var(--fg);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--blue);
  }
}
