@import 'colors';

:root {
  // Buttons
  --flat-btn-size: 34px;
  --flat-btn-border: 1px solid #{$smog};
  --flat-btn-border-radius: 6px;
  --flat-btn-box-shadow: none;

  // Main colors
  --headline-font-weight: 500;
  --font-color-action: #{$blue-12};

  // Fonts
  --headline-margin: 18px 0;
  --paragraph-font-size: 20px;
  --paragraph-font-family: charter, Georgia, Cambria, 'Times New Roman', Times,
    serif;

  // Ul
  --ul-font-size: 20px;
  --ul-line-height: 32px;
  --ul-font-family: charter, Georgia, Cambria, 'Times New Roman', Times, serif;

  // Description
  --description-font-family: charter, Georgia, Cambria, 'Times New Roman', Times,
    serif;
  --description-font-size: 16px;
  --description-font-style: italic;
  --description-font-color: #{$smog};
  --description-padding: 18px 0px;

  // Bars
  --top-bar-height: 50px;

  // Modeline
  --modeline-height: 48px;
  --modeline-padding: 0 32px;
  --modeline-background: #{$light};

  // MiniBuffer
  --mini-buffer-background: #{$white};
  --mini-buffer-font-color: #{$grey-9};
  --mini-buffer-border-top: 1px solid #{$grey-9};

  --completion-item-min-height: 24px;
  --completion-item-padding: 4px 16px;
  --completion-item-hover-background: #{$grey-6};
  --completion-item-hover-color: #{$light};

  // Buttons
  --action-btn-shadow: 0 1px 0 rgba(27, 31, 36, 0.04),
    inset 0 1px 0 rgba(255, 255, 255, 0.25);
  --action-btn-border: 1px solid;
  --action-btn-border-color: #{$smog};
  --action-btn-padding: 6px;
  --action-btn-radius: 6px;
  --action-btn-fire-color: #{$grass};
  --action-btn-fire-border-color: #{$grass};
  --action-btn-size: 20px;
  --action-btn-color: #{$night};

  --social-btn-size: 24px;
  --social-btn-background: #{$grey-9};

  // Tags
  --tag-hover-background: #{$grey-9};
  --tag-hover-color: #{$grey-3};

  // Formatters
  // Inline code
  --inline-code-background: rgba(175, 184, 193, 0.2);
  --inline-code-font-color: rgb(36, 41, 47);

  // Markup
  --content-max-width: 1080px;
}

body.body--light {
  // Modeline
  --modeline-background: #{$light};

  // Colors
  --main-theme-color: #{$dark};
  --font-color-ьфшт: #{$grey-9};
  --font-color-secondary: #{$grey-6};

  --main-background: #{$white};
  --secondary-background: #{$dark-smog};
}

body.body--dark {
  // Modeline
  --modeline-background: #{$dark};

  // Colors
  --theme-color-main: #{$white};
  --font-color-main: #{$grey-3};
  --font-color-secondary: #{$grey-6};
  --main-background: #{$white};
  --secondary-background: #{$dark-smog};
}
