:root {
  // Main colors
  --headline-font-weight: 500;
  --font-color-action: var(--blue);

  // Ul
  --ul-font-size: 20px;
  --ul-line-height: 32px;
  --ul-font-family: charter, Georgia, Cambria, 'Times New Roman', Times, serif;

  // Bars
  --top-bar-height: 50px;

  // Markup
  --content-max-width: 1080px;

  // Colors
  --main-background: var(--base1);
  --main-theme-color: var(--base0);
  --secondary-background: var(--base3);

  // Global modeline config
  --modeline-height: 48px;
}
